body {
    margin: 0;
font-family: 'Praise', cursive;

}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 33%;
    margin-bottom: 30px;
}

ul li img {
    width: 250px;
    height: 250px;
}

ul {
    display: flex;
    justify-content: space-around;
}

h1 {
    text-align: center;
    font-size: 64px;
    }

article {
    display: flex;
}

.infos {
    padding-left: 10px;
    padding-right: 80px;
}